// header
.main-header {
  display: flex;
  width: 100%;
  padding: 16px;
  position: absolute;
  z-index: 1;

  &:after {
    position: absolute;
    content: '';
    width: 100vw;
    height: 11rem;
    left: 0;
    top: -5rem;
    transform: skewY(-4deg);
  }

  .container {
    position: relative;
    z-index: 1;
    padding: 16px 0;

    h2 {
      margin-bottom: 0;
      font-size: 1.3rem;
    }

    .logo-container {
      display: flex;
      align-items: center;
      .jl-logo {
        width: 50px;
        margin-right: 0.6rem;
        background-color: #1e1e1e;
      }
    }
  }
}

.btn-gone {
  opacity: 0;
}

.btn-test:hover .btn-gone {
  opacity: 1;
}
