@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add sass files */
@import './styles/custom.scss';

// primary
:root {
  --primary-color: #3f5c64;
  --secondary-color: #001519;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
p {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
